Firmware/MatrixDrive/CMakeLists.txt.user
Firmware/MatrixDrive/CMakeCache.txt
Firmware/MatrixDrive/CMakeFiles
Firmware/MatrixDrive/CMakeScripts
Firmware/MatrixDrive/Testing
Firmware/MatrixDrive/Makefile
Firmware/MatrixDrive/cmake_install.cmake
Firmware/MatrixDrive/install_manifest.txt
Firmware/MatrixDrive/compile_commands.json
Firmware/MatrixDrive/CTestTestfile.cmake
Firmware/MatrixDrive/_deps
Firmware/MatrixDrive/CMakeUserPresets.json
Firmware/MatrixDrive/build