Firmware/MatrixDriver/CMakeLists.txt.user
Firmware/MatrixDriver/CMakeCache.txt
Firmware/MatrixDriver/CMakeFiles
Firmware/MatrixDriver/CMakeScripts
Firmware/MatrixDriver/Testing
Firmware/MatrixDriver/Makefile
Firmware/MatrixDriver/cmake_install.cmake
Firmware/MatrixDriver/install_manifest.txt
Firmware/MatrixDriver/compile_commands.json
Firmware/MatrixDriver/CTestTestfile.cmake
Firmware/MatrixDriver/_deps
Firmware/MatrixDriver/CMakeUserPresets.json
Firmware/MatrixDriver/build/*